<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left">Ethics Codes Collection: Static Pages</h4>
          <%=button_to "New Page", new_admin_plugins_ecc_ecc_staticpage_path, method: :get, class: 'pull-right' %>
        </div>
      </div>
    </div>
    <div class="panel-body">  
      <% if @pages.empty? %>
        <h4> No Content</h4>
      <% else %>
        <table class="table table-responsive table-hover table-striped" id="posts-table-list">                                                                            
          <thead>                                                                                                                                                         
            <th> Page </th> 
          </thead>                                                                                                                                                        
          <tbody>                                                                                                                                                         
            <% @pagetype.each do |page| %>                                                                                                                                     
              <tr>                                                                                                                                                        
                <td><%= link_to page.description, {action: :show, id: page.id }%></td>
              </tr>                                                                                                                                                       
            <% end %>                                                                                                                                                     
          </tbody>                                                                                                                                                        
        </table>                                                                                                                                                          
      <% end %>
    </div>
</div>
