<%#= javascript_include_tag plugin_gem_asset("js/my_file.js") %>

<h2> Welcome to the Ethics Codes Collection Site!</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
</div> 
<div class="panel-body">
  <% if @page.nil? %>
    <h4> Please setup your landing {home} page </h4>
  <% else %>
    <h1> <%= @page.title %> </h1>
    <p> <%= @page.content %> </p>
  <% end %>
  </div>
</div>             
