h1,h2,h3,h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.site-content {
  font-family: 'Open Sans', sans-serif;
  padding: 0px 15px 0px 15px;
}

#navbar {
  background-color: #dd3d28;
}

#login-user {
  color: white;
}

.menu-item {
  color: white;
}

.current-menu-item {
  font-weight: 600;
}

footer {
  background-color: #cbcccb;
}

.column {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
    margin-top: 1em;
    display: block;

}
@media only screen and (max-width: 400px) {
  .column {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
      -webkit-column-fill: balance;
         -moz-column-fill: balance;
              column-fill: balance;
      margin-top: 1em;
      display: block;

  }
}
