<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ethics Code Collection</title>
    <%= favicon_link_tag 'iiticon.png' %>
    <meta charset="utf-8">
    <!--Mobile specific-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
</head>

<body>
    <figure>
        <%= image_tag("cseplogo.png", :alt => "CSEP logo") %>
    </figure>

    <h1>Collections</h1>
    <nav>
        <a href="main">Home</a>
        <a href="search">Advanced Search</a>
        <a href="collections">Collections</a>
        <a href="resources">Resources</a>
        <a href="ethicslinks">Ethics &#64; IIT</a>
    </nav>
    <h2>Agriculture</h2>
        <p>Ethics codes from agricultural organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Business</h2>
        <p>Ethics codes from business organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Health Care</h2>
        <p>Ethics codes from health care organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Legal</h2>
        <p>Ethics codes from legal organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Media</h2>
        <p>Ethics codes from media organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Real Estate</h2>
        <p>Ethics codes from real estate organizations can go here. Consult with org team to see proper categories.</p>
    <h2>Science</h2>
        <p>Ethics codes from science organizations can go here. Consult with org team to see proper categories.</p>
</body>
</html>
