<h1>Resources</h1>
<h2>Authoring A Code</h2>
    <p>Guidelines as to how to write a code to add to the collection. Pull from existing site.</p>
<h2>Bibliography</h2>
    <p>Sources citing here.</p>
<h2>Collection Policy</h2>
    <p>Policies of the ECC. Pull from existing site.</p>
<h2>Print Guide</h2>
    <p>Guide, to be pulled from existing site.</p>
