<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ethics Code Collection</title>
    <%= favicon_link_tag 'iiticon.png' %>
    <meta charset="utf-8">
    <!--Mobile specific-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
</head>

<body>
    <figure>
        <%= image_tag("cseplogo.png", :alt => "CSEP logo") %>
    </figure>

    <h1>Resources</h1>
    <nav>
        <a href="main">Home</a>
        <a href="search">Advanced Search</a>
        <a href="collections">Collections</a>
        <a href="resources">Resources</a>
        <a href="ethicslinks">Ethics &#64; IIT</a>
    </nav>
    <h2>Authoring A Code</h2>
        <p>Guidelines as to how to write a code to add to the collection. Pull from existing site.</p>
    <h2>Bibliography</h2>
        <p>Sources citing here.</p>
    <h2>Collection Policy</h2>
        <p>Policies of the ECC. Pull from existing site.</p>
    <h2>Print Guide</h2>
        <p>Guide, to be pulled from existing site.</p>
</body>
</html>
