/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

nav {
    display: block;
    width: 100%;
    min-height: 2em;
    margin: 1em 0;
}


ol, ul {
	list-style: none;
    font-size: 0.8em;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

h2 {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  
}

h5 {
    color: black;
    font-size: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

img {
    width: 30%;
}

li {
    padding: 1em;
}

figure {
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    padding: 1em;
    text-decoration: none;
    color: #e7434e;
}

p {
    padding: 1em;
    font-size: 0.8em;
}

footer {
    background-color: darkslategrey;
    padding: 2em;
}

.advsearch {
    padding: 1.5em;
    font-size: 1em;
}

.button {
    background-color: #e7434e;
    color: antiquewhite;
    border-radius: 1em;
    padding: 2%;
    font-size: 80%;
}

.banner {
    text-align: center;
    color: #464646;
}

.catcolumn {
        -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
    font-size: 1em;
    padding-bottom: 1em;
}

.column {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
    margin-top: 1em;
    
}
.flinks {
    color: gray;
}

.logo {
    width: 100%;
}

.navhover:hover, .stemcat:hover {
    background-color: #e7434e;
    color: #fff;
}

.plinks {
    padding: 0em;
}

.plus {
    font-size: 1.5em;
    background-color: darkgray;
    color: #fff;
    padding: 0em;
}

.rarrow {
    margin-left: 95%;
    display: block;
    font-size: 1em;    
}

.reference {
    background-color: lightgray;
    
}

.scrollsample {
    color: #e7434e;
    text-align: center;
}

.searchex {
    border-top: 5px solid darkgray;
    border-top-width: 100%;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.select {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 3em;
    font-size: 1.2em;
}

.stemcat {
    padding: 1em;
    border: 1px solid darkgray;
    border-radius: 1em;
    margin-top: 0.5em;
    background-color: #fff;
}


.textfields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5em;
    margin-left: 1em;
}

#contents {
    margin-left: 2em;
}
#disclaimer {
    font-style: italic;
    font-size: 0.7em;
}


#emailbutton {
    background-color: #e7434e;
    color: #fff;
    height: 3.5em;
    border-radius: 0.313em;
}


#search {
    background-color: #e7434e;
    color: #fff;
    border-radius: 0.313em;
    font-size: 1.5em; 
    margin-bottom: 1em;
    margin-left: 0.5em;
}

#searchbar {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    border-radius: 0.313em;
    width: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 5em;
    font-size: 0.9em;
    border-color: slategray;
    border-width: 0.5em;
}

#emailbar {
    margin-top: 1em;
    border-radius: 0.313em;
    width: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 3.5em;
}

@media screen and (max-width: 56.875em) {
    
    nav {
        position: relative;
        width: 100%;
        min-height: 2em;
        margin: 1em 0;
    }

    .nav ul {
        margin: 0;
        padding: 0.25em 0;
        width: 9em;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 0.05em #aaa;
        background: #fff url(icon-menu.png) no-repeat 10px 11px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }

    .nav li {
        display: none;
        margin: 0em;
    }

    .nav a {
        display: block;
        padding: 0.25 0.25em 0.25em 1.6em;
        text-align: left;
    }
    
    
}
    


strong {
  font-weight: bold;
}