<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left"> <%= @code.code_title %> [<%= @code.code_year %>] </h4>
          <h4 class="pull-left"><%= link_to @org.name, admin_plugins_ecc_ecc_orgs, {action: :show, id: @org.id } %></h4>         
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= @code.code_content %>
    </div>
</div>
